.wrapping-img {
  text-align: center;
}

.img {
  box-sizing: border-box;
  width: 200px;
  padding: 20px 50px;
  border: 5px solid red;
  border-radius: 10px;
  margin: 20px;
  object-fit: fill;
  object-position: top right;
}
span {
  border: 10px solid red;
}
.div {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  height: 200px;
  padding: 30px;
  border: 10px solid red;
  /* margin: 50px auto; */
}
figure {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 50px;
  border: 5px solid red;
  border-radius: 10px;
  margin: 20px;
  object-fit: fill;
  object-position: top right;
}
